// .laser {
//   border: 2px solid gray;
//   svg {
//     border: 1px solid red;
//     margin: 5px;
//   }
// }

.laser {
  width: 100%;
  margin: 20px 0;
  height: 400px;
  border: 2px solid gray;
  svg {
    border: 1px solid red;
    margin: 5px;
    background-color: black;
  }
}
.old {
  stroke: lightgrey;
  stroke-dasharray: 1;
  stroke-dashoffset: 5;
}
