.table {
  td,
  th {
    padding: 0.25rem;
  }
}

.fields {
  .field {
    input[type='number'] {
      width: 100%;
    }
    input[type='color'] {
      width: calc(100% - 22px);
    }
  }
  .commands {
    button {
      width: 48%;
      &#stop {
        float: right;
      }
    }
    margin-top: 10px;
  }
}
