.alert {
  margin-bottom: 5px;
  width: 100%;
  .close {
    position: absolute;
    top: -2px;
    right: 3px;
    //   color: white;
    font-size: 13px;
  }
  // &.alert-success {
  //   color: white;
  //   background-color: #2a2ad8;
  //   border-color: #1414e2;
  // }
}
